/* Color Theme Swatches in Hex */
$bjeco-black-hex: #1f1f20;
$bjeco-dark-blue-hex: #2b4c7e;
$bjeco-light-blue-hex: #567ebc;
$bjeco-grey-hex: #606d80;
$bjeco-white-hex: #dce0e6;

/* Color Theme Swatches in RGBA */
$bjeco-black-rgba: rgba(31, 31, 32, 1);
$bjeco-dark-blue-rgba: rgba(43, 76, 126, 1);
$bjeco-light-blue-rgba: rgba(86, 126, 188, 1);
$bjeco-grey-rgba: rgba(96, 109, 128, 1);
$bjeco-white-rgba: rgba(220, 224, 230, 1);

/* Color Theme Swatches in HSLA */
$bjeco-black-hsla: hsla(240, 1, 12, 1);
$bjeco-dark-blue-hsla: hsla(216, 49, 33, 1);
$bjeco-light-blue-hsla: hsla(216, 43, 53, 1);
$bjeco-grey-hsla: hsla(215, 14, 43, 1);
$bjeco-white-hsla: hsla(216, 16, 88, 1);
